<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="signup-container">
      <h1>Sign Up</h1>
      <p>Already have an account? <a href="/login" class="link">Log in</a></p>
  
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="user.name" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email" type="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Create Password</ion-label>
        <ion-input [(ngModel)]="user.password" type="password"></ion-input>
      </ion-item>
  
      <ion-button expand="full" (click)="signup()">Sign Up</ion-button>
    </div>
  </ion-content>
  