<ion-header>
    <ion-toolbar>
      <ion-title>Registrieren</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="signup-container">
      <div *ngIf="message">{{message}}</div>
      <h1>Registrieren</h1>
      <p>Bereits registiert? <a href="/login" class="link">Einloggen</a></p>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="employee.email" name="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="employee.password" name="password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="signup()">Registrieren</ion-button>
    </div>
  </ion-content>
