.signup-container {
    text-align: center;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 26px;
    font-weight: bold;
  }
  
  .link {
    color: #3b82f6;
    text-decoration: none;
  }
  
  ion-item {
    margin-top: 15px;
  }
  
  ion-button {
    margin-top: 20px;
    background: linear-gradient(to right, #000000, #333333);
    color: white;
  }
  