.main-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 100%;
}

.main-grid {
  .clock {
    grid-area:  1 / 1 / 4 / 2;
    text-align: center;
    align-content: center;
  }

  ion-col .buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    width: 80%;
    ion-button {
      width: auto;
    }
  }
}

h1 {
  align-items: center;
  justify-content: center;
  display: flex;

  span {
    font-size: 4rem;
  }
  ion-icon {
    font-size: 150%;
    margin-right: 1rem;
  }
}

.icon-cursor {
  cursor: pointer;
  align-self: center;
}

.project-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
